# Temp, bin, and library directories
bin/*
lib/*
obj/*

# Log files
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# test outputs
test*.eps
share/*.eps
opac_test.csv
opac_test_src.csv

